@use "../../abstracts/mixins" as *;
body {
  background: var(--light-pink);
  font-family: var(--work-sans);
  &::before {
    content: " ";
    background: url("../assets/images/background-pattern-mobile.svg");
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 35%;
    z-index: -1;
  }
}
.accordion-card {
  background: var(--white);
  padding: 1rem;
  width: 300px;
  border-radius: 1rem;
  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    img {
      height: 30px;
      aspect-ratio: 1/1.2;
    }
  }
  &__content {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      &:nth-of-type(1n):not(:nth-last-child(1)) {
        border-bottom: 0.1px solid var(--light-pink);
      }
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: var(--dark-purple);
        padding-block: 0.5rem;

        &::after {
          content: url("../assets/images/icon-plus.svg");
          display: grid;
          place-items: center;
          border-radius: 999px;
          line-height: 1;
        }
        &:hover {
          color: var(--grayish-purple-v2);
        }
      }
      input[type="checkbox"] {
        display: none;
      }
    }
    &__description {
      color: var(--grayish-purple);
      font-weight: 400;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, margin-bottom 0.5s;
    }
    input[type="checkbox"]:checked + label + &__description {
      max-height: 400px;
      margin-bottom: 1rem;
    }
    input[type="checkbox"]:checked + label::after {
      content: url("../assets/images/icon-minus.svg");
    }
  }
}

@include breakpoint(medium) {
  body {
    &::before {
      content: " ";
      background: url("../assets/images/background-pattern-desktop.svg");
      background-size: cover;
      position: absolute;
      top: 0;
      width: 100%;
      height: 35%;
      z-index: -1;
    }
  }
  .accordion-card {
    padding: 2rem;
    width: 500px;
  }
}
